<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>配色パターン作成アプリ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Roboto+Mono:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <style type="text/css">
    body {
    background-color:lightyellow;
    font-family: 'Kosugi Maru', 'Sawarabi Gothic','Roboto Mono', sans-serif;
    font-size: medium;
    color:firebrick;
    }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
  </body>
</html>